name: Upload Python Package

on:
  release:
    types: [created]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel twine
        python setup.py install
    - name: Check if Release
      run: |
        declare -a VERSION_ARRAY
        SEMANTIC=$(semantic)
        ITERATOR=0; for x in $SEMANTIC; do VERSION_ARRAY[$ITERATOR]=$x ; let ITERATOR=ITERATOR+1 ; echo $ITERATOR; done
        echo ::set-env name=version_array::$VERSION_ARRAY
        echo $version_array
    - name: Build and publish
      if: env.version_array[0] == 'True'
      env:
        TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        export VERSION=${version_array}
        python setup.py sdist bdist_wheel
        twine upload dist/*
