name: Upload Python Package

on:
  release:
    types: [created]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel twine
        python setup.py install
    - name: Get Version
      run: |
        echo ::set-env name=SEMANTIC::$(semantic)  
    - name: Check if Release
      run: |
        echo $SEMANTIC
        declare -a VERSION_ARRAY
        echo Create Array
        ITERATOR=0
        echo Create Iterator
        for x in $SEMANTIC 
          do VERSION_ARRAY[$ITERATOR]=$x 
          let ITERATOR=ITERATOR+1  
        done
        echo Finish loop
        echo $VERSION_ARRAY
        echo ::set-env name=version_array::$VERSION_ARRAY
    - name: Build and publish
      if: $version_array == 'True'
      env:
        TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        export VERSION=env.version_array
        python setup.py sdist bdist_wheel
        twine upload dist/*
